@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #40514e;
  transition: background-color 1s;
  color: #f5f5f5;
  text-align: center
}

body.on {
  background-color: #c94e4e;
}

#wrapper {
  width: 300px;
  height: 220px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

#wrapper.start {
  background: rgba(255, 255, 255, 0.3);
}

#timer-label {
  margin-top: 5px;
  margin-bottom: 0;
}

#time_left {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 70px;
}
